* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Clarkson", Helvetica, sans-serif;
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: absolute;
  width: 100vw;
  height: 80px;
  z-index: 9999;
}
nav ul li {
  display: inline-block;
  justify-content: space-evenly;
  padding-right: 20px;
  cursor: pointer;
}
nav .end {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav .end .middle-link {
  padding-right: 20px;
  cursor: pointer;
}
nav .end a {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  text-decoration: none;
  padding: 10px 10px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}
.logo {
  cursor: pointer;
}
.hero {
  padding-top: 100px;
  height: 100vh;
  background-image: url("./assets/background-3-1440.webp");
  filter: grayscale(0.9);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 2%;
}
.hero h1 {
  color: rgb(0, 0, 0);
  text-align: start;
  width: 30vw;
  font-size: 4rem;
}
.hero p {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 30vw;
  padding-bottom: 30px;
}
.hero a {
  width: 100px;
  height: 20px;
  text-decoration: none;
  padding: 20px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1rem;
}

.section-2 {
  min-height: 100vh;
  padding: 20px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-2 .sub-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.section-2 .sub-section .txt {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: justify;
  padding: 2%;
}
.section-2 .sub-section .txt a {
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
}
.section-2 .sub-section .img-sec {
  padding: 2%;
}
.section-2 .sub-section .img-sec img {
  height: 100%;
  width: auto;
}

.section-3 {
  min-height: 100vh;
  max-width: 100vw;
  padding: 20px;
  color: white;
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-3 .sub-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-3 .sub-section .txt {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: justify;
  padding: 2%;
  width: 50vw;
  z-index: 1;
}
.section-3 .sub-section .txt h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
}
.section-3 .sub-section .txt a {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-top: 20px;
  text-decoration: none;
  background-color: #000000;
  margin-top: 20px;
  padding: 10px 10px;
}
.section-3 .sub-section .img-sec {
  padding: 2%;
  z-index: 0;
}
.section-3 .sub-section .img-sec img {
  height: 100%;
  width: 40vw;
  transform: rotate(30deg);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  background-color: #000000;
  padding: 3rem 0;
  min-height: 40vh;
  max-width: 100vw;
}
footer .col-1 {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: first baseline;
}
footer .col-1 h1 {
  font: 1em sans-serif;
  text-align: start;
  justify-content: baseline;
  cursor: pointer;
}
footer .col ul {
  list-style: none;
}
footer .col ul li {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: grey;
  padding-top: 5px;
  cursor: pointer;
} /*# sourceMappingURL=style.css.map */
